@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
    margin: 0;
    background-color: #ffffff;
    color: #ffffff;
}

@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -10px);
  }
}

.mouse-scroll {
  width:5dvw;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  animation: bounce 2s infinite;
  transition: opacity 0.5s ease;
}
.mouse-scroll.hidden {
  opacity: 0;
  pointer-events: none;
}


header {
    width: 100dvw;
    display: flex;
    height: 6dvh;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

header .logo {
    font-weight: bold;
    font-size: 1.5rem;
}

header .logo a {
    text-decoration: none;
    color: #000000;
}

header nav {
    display: flex;
    width: 60dvw;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    margin-top: 2dvh;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transition: all 0.5s ease;
}
header.scrolled nav{
    background:rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    backdrop-filter: blur(10px); 
    transition: all 0.5s ease;
}

header nav ul {
    display: flex;
    list-style: none;   
    gap: 20px;
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: 0.3s;
}

header nav ul li a:hover {
    color: #ffffff;
}

header .gradient {
    width: 100dvw;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #b8b8b88a , transparent);
    z-index: -1;
}

/* Hide menu on smaller screens */
.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding-top: 10px;
    padding-inline-start: 0px;
}

/* Responsive adjustments */

@media (max-width: 1024px) {
    .mouse-scroll{
        width:8dvw;
        left: 50%;
    }
    header nav {
        width: 90dvw;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links {
        position: absolute;
        top: 120%;
        left: 0;
        width: 90dvw;
        display: flex;
        flex-direction: column;
        justify-content: center; /* vertically center */
        align-items: center;
        background-color: rgba(65, 65, 65, 0.589);
        padding: 20px 0;
        border-radius: 10px;
        z-index: 99;
        transform: translateY(-50px);
        opacity: 0;
        pointer-events: none;
        transition: all 0.6s ease;
        border-radius: 70;
    }

    .nav-links.show {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
        transition: all 0.6s ease;
    }

    .nav-links li {
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.6s ease;  
    }

    .nav-links.show li {
        opacity: 1;
        transform: translateY(0);
    }

    /* stagger animation delays */
    .nav-links.show li:nth-child(1) { transition-delay: 0.1s; }
    .nav-links.show li:nth-child(2) { transition-delay: 0.2s; }
    .nav-links.show li:nth-child(3) { transition-delay: 0.3s; }
    .nav-links.show li:nth-child(4) { transition-delay: 0.4s; }

    .menu-toggle {
        display: block;
        font-size: 2rem;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        /* padding-inline-end: 0px; */
        z-index: 100; /* ensure it's on top */
    }

    .logo {
        flex: 1;
    }

}
@media (max-width: 512px) {
    .mouse-scroll{
        width:20dvw;
        left: 50%;
    }
    
}

section.hero-section {
    width: 100dvw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5dvh;
    
}
section.hero-section div.hero-card-container{
    width: 75dvw;
    height: 55dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.hero-section div.hero-card-container div.hero-card-img{
    width:60%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.hero-section div.hero-card-container div.hero-card-img img.hero-card-img-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
section.hero-section div.hero-card-container div.hero-card-img div.hero-card-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-image: linear-gradient(to left, #000000  , transparent);
}
section.hero-section div.hero-card-container div.hero-card-img img.hero-card-img-logo{
    height: 70%;
    object-fit: cover;
}

section.hero-section div.hero-card-container div.hero-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    width:40%;
    height: 100%;
    padding: 0 10%;
    background-color: #000000;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
@media screen and (max-height: 900px) {
    section.hero-section div.hero-card-container{
        width:80dvw;
        height: 70dvh;
    }
}
@media screen and (max-width: 1500px) {
    section.hero-section div.hero-card-container{
        width:80dvw;
    }
}
@media screen and (max-width: 1430px) {
    section.hero-section div.hero-card-container{
            width:90dvw;
    }
    
}
@media screen and (max-width: 1200px) {
    section.hero-section div.hero-card-container div.hero-card-img{
        width: 50%;
    }
    section.hero-section div.hero-card-container div.hero-card-content{
        width: 50%;
        padding: 0 5%;
    }
}
@media screen and (max-width: 1024px) {
    section.hero-section div.hero-card-container{
        flex-direction: column;
        width:75dvw;
        height:auto;
    }
    section.hero-section div.hero-card-container div.hero-card-img{
        width: 100%;
        height: 40dvh;
        border-radius: 20px 20px 0 0;
    }
    section.hero-section div.hero-card-container div.hero-card-content{
        width: 90%;
        padding: 0 5%;
        border-radius: 0 0 20px 20px;
        padding-bottom: 5%;
    }
    section.hero-section div.hero-card-container div.hero-card-img div.hero-card-img-overlay{
        background-image: linear-gradient(to top, #000000  , transparent);
    }

}
@media screen and (max-width: 650px) {
    section.hero-section div.hero-card-container{
        width:85dvw;
    }
}
@media screen and (max-width: 512px) {
    section.hero-section div.hero-card-container{
        width:90dvw;
    }
    
}
section.content-section{
    width: 100dvw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5dvh;
    color: #000000;
}

section.content-section div.content-intro{
    width: 40dvw;
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.content-section div.content-intro div.content-para{
text-align: justify;
margin-bottom: 1.5rem;
}

section.content-section div.content-intro div.content-heading h3{
    margin-top: 2rem;
}
@media screen and (max-width: 1500px) {
    section.content-section div.content-intro{
        width: 50dvw;
    }
}
@media  screen and (max-width: 1024px) {
    section.content-section div.content-intro{
        width: 70dvw;
    } 
}
@media screen and (max-width: 650px) {
    section.content-section div.content-intro{
        width: 80dvw;
    }
}
@media screen and (max-width: 512px) {
    section.content-section div.content-intro{
        width: 85dvw;
    }
    section.content-section div.content-intro div.content-para li{
        text-align: start;
    }
}
::-webkit-scrollbar {
    width: 0px;
  }